PORT=3000

# sqlite (predeterminado) o postgres
DB_TYPE=sqlite
DB_DATABASE=data/app.sqlite
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Requerido solo si DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=cambia_esta_clave
# DB_DATABASE=app_db
